html {
    font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
    
    color: #000000;
    text-align: justify;
    
    font-size: 16px; 
}

body {
    background-color: #e4e4e4;
    
    margin: 0px;
    padding: 0px;
}

header {

    background-color: #4969b6;
    color: #ffffff;
    font-size: 37px;
    text-shadow: 1px 1px 0px rgba(0,0,0, .4);
    font-weight: bold;
    border-bottom: solid 1px #ffffff;
    padding: 20px;
}

.ribbon {
    text-align:center;
    background-color: #6984c3;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0,0,0, .4);
    font-weight: bold;
    font-size:20px;
    border-bottom: solid 1px #d3d3d3;
    padding: 5px;
    box-shadow: 0px 15px 12px 5px #AAA;
    
    line-height: 45px;
}

.ribbon a {
    color:#ffffff;
    text-decoration:none;
    padding: 5px;

    border-bottom: dashed 1px #ffffff;
    margin-right: 5px;
}

.ribbon a:hover {
    border-bottom-style: solid;
}

.body {
    margin:0 50px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 15px 12px 5px #AAA;
}

.body h1 {
    text-align:center;
    font-size:37px;
    text-shadow: 1px 1px 0px rgba(0,0,0, .4);
}

.body p {
    font-family: sans-serif;
}

footer {
    margin: 50px;
    
    font-size: 18px;
    color:#9e9e9e;
    
    text-align: center;
}

.crumbs {
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;

    background-color: #d3d3d3;
    color: #636363;
    font-size:18px;
    border-top: solid 1px #a3a3a3;
    padding:1px 5px;
    
    line-height: 30px;
}

.crumbs a {
    color: #636363;
}


.syntaxhighlighter {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size:16px !important;
}

form {
    font-family: sans-serif;
    display:block;
    margin:0 auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 15px 12px 5px #AAA;
    width:70%;
}

form label {
    display:block;
    font-weight:bold;
    border-bottom:1px solid #000;
    padding:2px;
}

form input {
    display:block;
    border:solid 1px #000000;
    width:100%;
    padding:2px;
    margin:10px 0;
}

form button {
    display:block;
    text-align:center;
    width:80%;
    margin:10px auto;
    padding:2px;
}